!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Survey
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{href: "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700", rel: "stylesheet", type: "text/css"}
    = csrf_meta_tags
  %body
    = yield
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
